body 
{
}

#RefereeCreator
{
    width: 500px;
    margin-left:auto;
    margin-right:auto;
}

#LogViewer
{
    width: 500px;
    margin-left:auto;
    margin-right:auto;
}

#NewsCreator
{
    width: 500px;
    margin-left:auto;
    margin-right:auto;
}